.App {
  text-align: center;
  max-width: 30em;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
}

.textarea {
  width: 100%;
  height: 10em;
  margin: 1em 0;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  resize: none;
  height: 320px;
}

.wordList__item {
  text-align: left;
}

.uniqueWordsAtCapacity {
  color: orange;
}

.atMaxWordCount{
  color: red;
}

.invalidAttempt {
  color: red;
}
